#### Load datasets:

In [2]:
import pandas as pd

# Read the csv files into DataFrames
mrns = pd.read_csv('Study 17_Cohort 27_MRN_KEY_THIS_FILE_CONTAINS_PHI.csv')
print(mrns.shape)

dates = pd.read_csv('FollowingOutcomesAft-IntubationAndPARDSPa_DATA_2024-01-11_1451.csv')
print(dates.shape)

## Select rows where 'Screener_ards_ventilated' is 1 and 'screener_ards_vent_how' is in [1, 2]
dates = dates[(dates['screener_ards_ventilated'] == 1) & (dates['screener_ards_vent_how'].isin([1, 2]))]
print(dates.shape)

# Drop rows with NaN values in the 'mrn' column
dates = dates.dropna(subset=['mrn'])
print(dates.shape)

# Convert 'mrn' column to numeric, converting non-numeric values to NaN
dates['mrn'] = pd.to_numeric(dates['mrn'], errors='coerce')

(271, 2)
(3517, 48)
(615, 48)
(308, 48)

#### Match MRNs and screener date:

In [31]:
# Add the screener_date from dates to mrns according to the matched mrns
import pandas as pd

# Merge DataFrames based on the common MRN column
merged_df = pd.merge(mrns, dates, left_on='MRN', right_on='mrn', how='left')

# Select only the 'MRN' and 'screener_date' columns
result_df = merged_df[['Patient ID', 'MRN', 'screener_date']]

# Drop NaN values
result_df = result_df.dropna(subset=['MRN'])

# Rename 'screener_date' to 'Time Start'
result_df = result_df.rename(columns={'screener_date': 'Time Start'})

# Display the modified DataFrame
print(result_df)

     Patient ID        MRN  Time Start
0           845  101653108   3/24/2023
1          1465  101625133   9/30/2022
2          1465  101625133  11/23/2022
3          1626  100723355   1/23/2023
4          1747  101554398    4/3/2023
..          ...        ...         ...
303     1015622   38821817   12/6/2023
304     1018260  101886381   12/9/2023
305     1018494  101886494  12/10/2023
306     1025114  100877076  12/17/2023
307     1026178  101890492  12/18/2023

[308 rows x 3 columns]

#### 12 hours before intubation date.

In [32]:
# Add starting time (12:00:00 PM) to 'Time Start' and stop time (23:59:59 PM) to 'Time Stop' the result_df dataframe

import pandas as pd

result_df0 = result_df

# Convert 'Time Start' to datetime format
result_df0['Time Start'] = pd.to_datetime(result_df0['Time Start'])

# Add starting time (00:00:01 AM) to 'Time Start'
result_df0['Time Start'] = result_df0['Time Start'] - pd.to_timedelta('12:00:00')

# Add stop time (11:59:59 AM) to 'Time Stop'
result_df0['Time Stop'] = result_df0['Time Start'] + pd.to_timedelta('11:59:59')

# Display the modified DataFrame
print(result_df0)

     Patient ID        MRN          Time Start           Time Stop
0           845  101653108 2023-03-23 12:00:00 2023-03-23 23:59:59
1          1465  101625133 2022-09-29 12:00:00 2022-09-29 23:59:59
2          1465  101625133 2022-11-22 12:00:00 2022-11-22 23:59:59
3          1626  100723355 2023-01-22 12:00:00 2023-01-22 23:59:59
4          1747  101554398 2023-04-02 12:00:00 2023-04-02 23:59:59
..          ...        ...                 ...                 ...
303     1015622   38821817 2023-12-05 12:00:00 2023-12-05 23:59:59
304     1018260  101886381 2023-12-08 12:00:00 2023-12-08 23:59:59
305     1018494  101886494 2023-12-09 12:00:00 2023-12-09 23:59:59
306     1025114  100877076 2023-12-16 12:00:00 2023-12-16 23:59:59
307     1026178  101890492 2023-12-17 12:00:00 2023-12-17 23:59:59

[308 rows x 4 columns]

#### Re-run the code in order to avoid time mess

In [34]:
# Add the screener_date from dates to mrns according to the matched mrns
import pandas as pd

# Merge DataFrames based on the common MRN column
merged_df = pd.merge(mrns, dates, left_on='MRN', right_on='mrn', how='left')

# Select only the 'MRN' and 'screener_date' columns
result_df = merged_df[['Patient ID', 'MRN', 'screener_date']]

# Drop NaN values
result_df = result_df.dropna(subset=['MRN'])

# Rename 'screener_date' to 'Time Start'
result_df = result_df.rename(columns={'screener_date': 'Time Start'})

# Display the modified DataFrame
print(result_df)

     Patient ID        MRN  Time Start
0           845  101653108   3/24/2023
1          1465  101625133   9/30/2022
2          1465  101625133  11/23/2022
3          1626  100723355   1/23/2023
4          1747  101554398    4/3/2023
..          ...        ...         ...
303     1015622   38821817   12/6/2023
304     1018260  101886381   12/9/2023
305     1018494  101886494  12/10/2023
306     1025114  100877076  12/17/2023
307     1026178  101890492  12/18/2023

[308 rows x 3 columns]

#### First 12 hours after intubation.

In [35]:
# Add starting time (00:00:01 AM) to 'Time Start' and stop time (11:59:59 AM) to 'Time Stop' the result_df dataframe

import pandas as pd

result_df1 = result_df

# Convert 'Time Start' to datetime format
result_df1['Time Start'] = pd.to_datetime(result_df1['Time Start'])

# Add starting time (00:00:01 AM) to 'Time Start'
result_df1['Time Start'] = result_df1['Time Start'] + pd.to_timedelta('00:00:01')

# Add stop time (11:59:59 AM) to 'Time Stop'
result_df1['Time Stop'] = result_df1['Time Start'] + pd.to_timedelta('11:59:59')

# Display the modified DataFrame
print(result_df1)

     Patient ID        MRN          Time Start           Time Stop
0           845  101653108 2023-03-24 00:00:01 2023-03-24 12:00:00
1          1465  101625133 2022-09-30 00:00:01 2022-09-30 12:00:00
2          1465  101625133 2022-11-23 00:00:01 2022-11-23 12:00:00
3          1626  100723355 2023-01-23 00:00:01 2023-01-23 12:00:00
4          1747  101554398 2023-04-03 00:00:01 2023-04-03 12:00:00
..          ...        ...                 ...                 ...
303     1015622   38821817 2023-12-06 00:00:01 2023-12-06 12:00:00
304     1018260  101886381 2023-12-09 00:00:01 2023-12-09 12:00:00
305     1018494  101886494 2023-12-10 00:00:01 2023-12-10 12:00:00
306     1025114  100877076 2023-12-17 00:00:01 2023-12-17 12:00:00
307     1026178  101890492 2023-12-18 00:00:01 2023-12-18 12:00:00

[308 rows x 4 columns]

#### Re-run the code in order to avoid time mess

In [36]:
# Add the screener_date from dates to mrns according to the matched mrns
import pandas as pd

# Merge DataFrames based on the common MRN column
merged_df = pd.merge(mrns, dates, left_on='MRN', right_on='mrn', how='left')

# Select only the 'MRN' and 'screener_date' columns
result_df = merged_df[['Patient ID', 'MRN', 'screener_date']]

# Drop NaN values
result_df = result_df.dropna(subset=['MRN'])

# Rename 'screener_date' to 'Time Start'
result_df = result_df.rename(columns={'screener_date': 'Time Start'})

# Display the modified DataFrame
print(result_df)

     Patient ID        MRN  Time Start
0           845  101653108   3/24/2023
1          1465  101625133   9/30/2022
2          1465  101625133  11/23/2022
3          1626  100723355   1/23/2023
4          1747  101554398    4/3/2023
..          ...        ...         ...
303     1015622   38821817   12/6/2023
304     1018260  101886381   12/9/2023
305     1018494  101886494  12/10/2023
306     1025114  100877076  12/17/2023
307     1026178  101890492  12/18/2023

[308 rows x 3 columns]

#### Second 12 hours after intubation.

In [37]:
# Add starting time (12:00:01 PM) to 'Time Start' and stop time (23:59:59 PM) to 'Time Stop' the result_df dataframe

import pandas as pd

result_df2 = result_df

# Convert 'Time Start' to datetime format
result_df2['Time Start'] = pd.to_datetime(result_df2['Time Start'])

# Add starting time (12:00:01 PM) to 'Time Start'
result_df2['Time Start'] = result_df2['Time Start'] + pd.to_timedelta('12:00:01')

# Add stop time (23:59:59 PM) to 'Time Stop'
result_df2['Time Stop'] = result_df2['Time Start'] + pd.to_timedelta('11:59:58')

# Display the modified DataFrame
print(result_df2)

     Patient ID        MRN          Time Start           Time Stop
0           845  101653108 2023-03-24 12:00:01 2023-03-24 23:59:59
1          1465  101625133 2022-09-30 12:00:01 2022-09-30 23:59:59
2          1465  101625133 2022-11-23 12:00:01 2022-11-23 23:59:59
3          1626  100723355 2023-01-23 12:00:01 2023-01-23 23:59:59
4          1747  101554398 2023-04-03 12:00:01 2023-04-03 23:59:59
..          ...        ...                 ...                 ...
303     1015622   38821817 2023-12-06 12:00:01 2023-12-06 23:59:59
304     1018260  101886381 2023-12-09 12:00:01 2023-12-09 23:59:59
305     1018494  101886494 2023-12-10 12:00:01 2023-12-10 23:59:59
306     1025114  100877076 2023-12-17 12:00:01 2023-12-17 23:59:59
307     1026178  101890492 2023-12-18 12:00:01 2023-12-18 23:59:59

[308 rows x 4 columns]

#### Re-run the code in order to avoid time mess

In [40]:
# Add the screener_date from dates to mrns according to the matched mrns
import pandas as pd

# Merge DataFrames based on the common MRN column
merged_df = pd.merge(mrns, dates, left_on='MRN', right_on='mrn', how='left')

# Select only the 'MRN' and 'screener_date' columns
result_df = merged_df[['Patient ID', 'MRN', 'screener_date']]

# Drop NaN values
result_df = result_df.dropna(subset=['MRN'])

# Rename 'screener_date' to 'Time Start'
result_df = result_df.rename(columns={'screener_date': 'Time Start'})

# Display the modified DataFrame
print(result_df)

     Patient ID        MRN  Time Start
0           845  101653108   3/24/2023
1          1465  101625133   9/30/2022
2          1465  101625133  11/23/2022
3          1626  100723355   1/23/2023
4          1747  101554398    4/3/2023
..          ...        ...         ...
303     1015622   38821817   12/6/2023
304     1018260  101886381   12/9/2023
305     1018494  101886494  12/10/2023
306     1025114  100877076  12/17/2023
307     1026178  101890492  12/18/2023

[308 rows x 3 columns]

#### 12 hours after intubation date.

In [41]:
# Add starting time (00:00:01 AM) to 'Time Start' and stop time (11:59:59 AM) to 'Time Stop' the result_df dataframe

import pandas as pd

result_df3 = result_df

# Convert 'Time Start' to datetime format
result_df3['Time Start'] = pd.to_datetime(result_df3['Time Start'])

# Add starting time (12:00:01 PM) to 'Time Start'
result_df3['Time Start'] = result_df3['Time Start'] + pd.to_timedelta('24:00:01')

# Add stop time (23:59:59 PM) to 'Time Stop'
result_df3['Time Stop'] = result_df3['Time Start'] + pd.to_timedelta('11:59:58')

# Display the modified DataFrame
print(result_df3)

     Patient ID        MRN          Time Start           Time Stop
0           845  101653108 2023-03-25 00:00:01 2023-03-25 11:59:59
1          1465  101625133 2022-10-01 00:00:01 2022-10-01 11:59:59
2          1465  101625133 2022-11-24 00:00:01 2022-11-24 11:59:59
3          1626  100723355 2023-01-24 00:00:01 2023-01-24 11:59:59
4          1747  101554398 2023-04-04 00:00:01 2023-04-04 11:59:59
..          ...        ...                 ...                 ...
303     1015622   38821817 2023-12-07 00:00:01 2023-12-07 11:59:59
304     1018260  101886381 2023-12-10 00:00:01 2023-12-10 11:59:59
305     1018494  101886494 2023-12-11 00:00:01 2023-12-11 11:59:59
306     1025114  100877076 2023-12-18 00:00:01 2023-12-18 11:59:59
307     1026178  101890492 2023-12-19 00:00:01 2023-12-19 11:59:59

[308 rows x 4 columns]

#### Combine first 12 hours and second 12 hours

In [46]:
# Combine result_df1 and result_df2, with same patient_id, result_df1's row first and result_df2's row as second
# Concatenate DataFrames vertically
combined_df = pd.concat([result_df1, result_df2], ignore_index=True)

# Sort the DataFrame based on 'patient_id' and 'Time Start'
combined_df = combined_df.sort_values(by=['Patient ID', 'Time Start']).reset_index(drop=True)

# Display the combined DataFrame
print(combined_df)

# Save combined_df as csv file
combined_df.to_csv('sample_events_PIDandMRN(308by2).csv', index=False)

     Patient ID        MRN          Time Start           Time Stop
0           845  101653108 2023-03-24 00:00:01 2023-03-24 12:00:00
1           845  101653108 2023-03-24 12:00:01 2023-03-24 23:59:59
2          1465  101625133 2022-09-30 00:00:01 2022-09-30 12:00:00
3          1465  101625133 2022-09-30 12:00:01 2022-09-30 23:59:59
4          1465  101625133 2022-11-23 00:00:01 2022-11-23 12:00:00
..          ...        ...                 ...                 ...
611     1018494  101886494 2023-12-10 12:00:01 2023-12-10 23:59:59
612     1025114  100877076 2023-12-17 00:00:01 2023-12-17 12:00:00
613     1025114  100877076 2023-12-17 12:00:01 2023-12-17 23:59:59
614     1026178  101890492 2023-12-18 00:00:01 2023-12-18 12:00:00
615     1026178  101890492 2023-12-18 12:00:01 2023-12-18 23:59:59

[616 rows x 4 columns]

#### Combine four 12 hours durations. (12 hrs before + first 12 hrs + second 12 hrs + 12 hrs after)

In [47]:
# Combine result_df0. result_df1, result_df2 and result_df3, with same patient_id, result_df1's row first and result_df2's row as second
# Concatenate DataFrames vertically
combined_df = pd.concat([result_df0, result_df1, result_df2, result_df3], ignore_index=True)

# Sort the DataFrame based on 'patient_id' and 'Time Start'
combined_df = combined_df.sort_values(by=['Patient ID', 'Time Start']).reset_index(drop=True)

# Display the combined DataFrame
print(combined_df)

# Save combined_df as csv file
combined_df.to_csv('sample_events_PIDandMRN(308by4)_ext.csv', index=False)

      Patient ID        MRN          Time Start           Time Stop
0            845  101653108 2023-03-23 12:00:00 2023-03-23 23:59:59
1            845  101653108 2023-03-24 00:00:01 2023-03-24 12:00:00
2            845  101653108 2023-03-24 12:00:01 2023-03-24 23:59:59
3            845  101653108 2023-03-25 00:00:01 2023-03-25 11:59:59
4           1465  101625133 2022-09-29 12:00:00 2022-09-29 23:59:59
...          ...        ...                 ...                 ...
1227     1025114  100877076 2023-12-18 00:00:01 2023-12-18 11:59:59
1228     1026178  101890492 2023-12-17 12:00:00 2023-12-17 23:59:59
1229     1026178  101890492 2023-12-18 00:00:01 2023-12-18 12:00:00
1230     1026178  101890492 2023-12-18 12:00:01 2023-12-18 23:59:59
1231     1026178  101890492 2023-12-19 00:00:01 2023-12-19 11:59:59

[1232 rows x 4 columns]